<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          tools:ignore="ForegroundServicesPolicy, AllFilesAccessPolicy, ScopedStorage,
          RequestInstallPackagesPolicy">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
  <uses-permission
    android:name="android.permission.READ_PHONE_STATE"
    android:maxSdkVersion="28" />
  <uses-permission
    android:name="android.permission.WRITE_EXTERNAL_STORAGE"
    android:maxSdkVersion="32" />
  <uses-permission
    android:name="android.permission.READ_EXTERNAL_STORAGE"
    android:maxSdkVersion="32" />

  <application
    android:name="coreUtils.base.BaseApplication"
    android:enableOnBackInvokedCallback="true"
    android:extractNativeLibs="true"
    android:hardwareAccelerated="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/title_app_name"
    android:largeHeap="true"
    android:requestLegacyExternalStorage="true"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="false"
    android:theme="@style/style.application"
    android:usesCleartextTraffic="true"
    tools:targetApi="33">

    <activity
      android:name="userInterface.opening.LauncherActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name="userInterface.opening.OpeningActivity" />
    <activity android:name="userInterface.language.LanguageActivity" />
    <activity android:name="userInterface.feedback.FeedbackActivity" />

  </application>

  <queries>
    <intent>
      <action android:name="android.intent.action.SEND" />
      <data android:mimeType="message/rfc822" />
    </intent>

    <intent>
      <action android:name="android.intent.action.VIEW" />
      <category android:name="android.intent.category.BROWSABLE" />
      <data android:scheme="https" />
    </intent>

    <package android:name="com.google.android.youtube" />
    <package android:name="com.instagram.android" />
    <package android:name="com.facebook.katana" />
    <package android:name="com.whatsapp" />
    <package android:name="com.ted.android" />
    <package android:name="com.google.android.apps.youtube.music" />
    <package android:name="com.soundcloud.android" />
    <package android:name="com.pinterest" />
    <package android:name="com.zhiliaoapp.musically" />
    <package android:name="com.dailymotion.dailymotion" />
    <package android:name="com.reddit.frontpage" />
    <package android:name="com.twitter.android" />
  </queries>
</manifest>